@(livros: List[Livro], livroForm: Form[Livro])


<html lang="">
    <head>
        <title>Hibernate Example</title>
        <meta charset="UTF-8">
        <meta name=description content="">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
    <div class="content">
    	<div class="col-sm-5">
        <h2 class="text-center">@livros.size() livro(s)</h2>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nome </th>
                            <th>Autor(es) </th>
                            <th>Ações </th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(livro <- livros) {
                        <tr>
                            <td>@livro.getNome()</td>
                            <td> 
                                @for(autor <- livro.getAutores()) {
                                    <p> @autor.getNome()</p>
                                }
                            </td>
                            <td>
                            <form action="@routes.Application.deleteBook(livro.getId())" method="post"> 
                                <input type="submit" class="btn btn-danger" value="Delete">
                            </form>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>

		<div class="col-sm-4">
        <h2>Adiciona um livro</h2>

        <form action="@routes.Application.newBook()" method="post"> 
            <label for="nome"> Nome: </label>
            <input type="text" name="nome" id="inputNome" class="form-control"required="required">
            <input type="submit" class="btn btn-primary" value="Create">
        </form>

        <h2>Adiciona um autor ao livro</h2>

        <!-- vai receber o livro e o nome do autor -->
        <form action="/books/addAutor" method="get"> 
            <select name="livro" id="inputLivro" class="form-control">
                <option value="" disabled>-- Select One --</option>
                @for(livro <- livros) {
                    <option value="@livro.getId()"> @livro.getNome()</option>
                }
            </select>
            <label for="nome"> Autor: </label>
            <input type="text" name="autor" id="inputAutor" class="form-control"required="required">
            <input type="submit" class="btn btn-primary" value="ok">
        </form>

        </div>
    </div>

        <!-- jQuery -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    </body>
</html>



<ul>
    
</ul>

    