@(livros: List[Livro], livroForm: Form[Livro])

@import helper._

@main("Lista de Livros") {
    
    <h1>@livros.size() livro(s)</h1>
    
    <ul>
        @for(livro <- livros) {
            <li>
                @livro.getNome()
                
                @form(routes.Application.deleteBook(livro.getId())) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>Adiciona um livro</h2>
    
    @form(routes.Application.newBook()) {
        
        @inputText(livroForm("nome")) 
        <input type="submit" value="Create">
        
    }
    
}